@model TagsPractica.ViewModels.RegisterViewModel



<div class="text-center">
    <div>
        
        <h3 style="text-align: left">Редактирование пользователя</h3>
        <br>

        @if (Model != null)
        {
            <form method="patch">
                    <table>
                <tr>
                    <td>Id:</td>
                    <td><input type="text" name="Id" /> </td>
                </tr>
                <tr>
                    <td>Имя:</td>
                    <td><input type="text" name="userName" /> </td>
                </tr>
                <tr>
                    <td>Пароль:</td>
                    <td><input type="password" name="password" /></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="email" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td align="right">
                        <div class="submit-button" width="300">
                            <input type="submit" value="Сохранить" width="300" />
                        </div>
                    </td>
                </tr>
                <tr>
                </table>
         
            </form>
       }
       else
       {
        <form method="post">
            <table>
                <tr>
                    <td>Id:</td>
                    <td><input type="text" name="Id" /> </td>
                </tr>
                
                <tr>
                    <td></td>
                    <td align="right">
                        <div class="submit-button" width="300">
                            <input type="submit" value="Найти" width="300" />
                        </div>
                    </td>
                </tr>
                <tr>
            </table>

        </form>
       }

</div>
