@model TagsPractica.DAL.Models.User
<div class="text-center">
    <div>
        <h3 style="text-align: left">Управление пользователями системы</h3>
        <br>

        <form method="get">

            <table>
                <tr>
                    <td></td>
                    <td><p>@ViewData["Message"]</p></td>
                    
                </tr>
                
            </table>
            <br>
           
        </form>
    </div>
</div>