@model TagsPractica.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register2";
}
<div class="text-center">
    <div>
        @if (Model == null)
        {
            <h3 style="text-align: left">Добро пожаловать в наш блог!</h3>
            <br>

            <form method="post">
                <table>
                    <tr>
                        <td>Имя:</td>
                        <td><input type="text" name="userName" /> </td>
                    </tr>
                    <tr>
                        <td>Пароль:</td>
                        <td><input type="password" name="password" /></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input type="text" name="email" /></td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.roleId, "Роль", new { @class = "control-label col-md-2" })
                        </td>
                        <td class="col-md-10" align="right">
                            @*@Html.DropDownList("PossibleCountries", String.Empty)*@
                            @Html.DropDownList("roleId", "Выбрать роль")
                            @Html.ValidationMessageFor(model => model.roleId)
                        </td>>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="right">
                        <div class="submit-button" width="300">
                        <input type="submit" value="Войти" width="300" />
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="right">
                        <div class="submit-button" width="300">
                            <input type="submit" value="Создать аккаунт" width="300" />
                        </div>
                        </td>
                    </tr>
                </table>
            </form>
            
        }
        else
        {
            @await Html.PartialAsync("_Thanks")
        }
    </div>
</div>