@model TagsPractica.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register2";
}
<div class="text-center">
    <div>
        @if (Model == null)
        {
            <h3 style="text-align: left">Добро пожаловать в наш блог!</h3>
            <br>

            <form method="post">
                <table>
                    <tr>
                        <td>Имя:</td>
                        <td><input type="text" name="userName" /> </td>
                    </tr>
                    <tr>
                        <td>Пароль:</td>
                        <td><input type="text" name="password" /></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input type="text" name="email" /></td>
                    </tr>

                </table>

                <div class="form-group">
                    @Html.LabelFor(model => model.roleId, "Role", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.DropDownList("PossibleCountries", String.Empty)*@
                        @Html.DropDownList("roleId", "Выбрать роль")
                        @Html.ValidationMessageFor(model => model.roleId)
                    </div>
                </div>

                <br>
                <div class="submit-button">
                    <input type="submit" value="Регистрация" />
                </div>
            </form>
        }
        else
        {
            @await Html.PartialAsync("_Thanks")
        }
    </div>
</div>