@model List<TagsPractica.DAL.Models.User>
<div class="text-center">
    <div>
        <h3 style="text-align: left">Список пользователей</h3>
        <br>

        <form method="get">

            <table>
                <tr>
                    <td>Идентификатор</td>
                    <td>Имя пользователя</td>
                    <td>Email</td>
                </tr>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.userName</td>
                        <td>@user.email</td>
                        

                    </tr>
                }
            </table>
            <br>
            <div class="submit-button">
                <input type="submit" value="Авторизация" />
            </div>
        </form>
    </div>
</div>